BasedOnStyle: Google
IndentWidth: 2
TabWidth: 4
ColumnLimit: 75
Language: Cpp
Standard: Cpp11
UseTab: Never
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
AlignConsecutiveAssignments: true
KeepEmptyLinesAtTheStartOfBlocks: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
AlignTrailingComments: Always
AlignConsecutiveMacros: Consecutive
